{% include('base/header.html.twig') %}
<h2>Задача №1</h2>
<p class="fs-5 col-md-10">Функционал возвращает список имен и количество книг у юношей и девушек в возрасте с заданным интервалом. Список должен быть сформирован ссылками на
    страницу конкретного человека. Ссылки должны быть сформированы в валидном url, содержащие корень текущего домена, протокол передачи и текущую папку в домене.</p>
<p>Ccылка для примера из задачи:</p>
<a href="{{ fullSiteUrl }}/customers/?customer_ids=1,2,3,4,5&years=15,20&author=Стругацкие">{{ fullSiteUrl }}/customers/?customer_ids=1,2,3,4,5&years=15,20&author=Стругацкие
</a>
<hr class="col-3 col-md-2 mb-5">
<div>
    <h3>Customers</h3>
    {% if customers|length > 0 %}
        {% for customer in customers %}
            <p><a href="{{ fullSiteUrl }}/customers/?id={{ customer.id }}">{{ customer.last_name }} {{ customer.first_name }} ({{ customer.books_count }})</a></p>
        {% endfor %}
    {% else %}
        <p>Нет элементов удовлетворяющих условиям</p>
    {% endif %}
</div>

{% include('base/footer.html.twig') %}
